<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AmberMeet.Domain.Properties.Settings.AmberMeetConnectionString"
         connectionString="Data Source=.;Initial Catalog=AmberMeet;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>