@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>用户信息错误</title>
</head>
<body>
<hgroup>
    <h1>错误。</h1>
    <h2>
        用户信息错误，重新登录:<a href="~//Home/Login">Login</a>。
    </h2>
    <p>错误信息: @ViewBag.LoginErrorMsg</p>
</hgroup>
</body>
</html>