@using AmberMeet.Models
@{
    ViewBag.Title = "我的待签收";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="mainForm">
    @{ Html.RenderPartial("Signfor"); }
</form>
<script src="~/AppFrontend/view-resources/MeetSignfor/Signfor.js"></script>

@Html.SearchGroup_Data(dateId: "activateDate", datePlaceholder: "开会日期")
@Html.JqGrid("waitSignforList", "waitSignforListPager")

<script src="~/AppFrontend/view-resources/MeetSignfor/MyWaitSignforList.js"></script>