@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/AppFrontend/bower_components/zui/css/zui.css" rel="stylesheet"/>
    <link href="~/AppFrontend/css/login.style.css" rel="stylesheet"/>
    <script src="~/AppFrontend/bower_components/jquery/jquery.min.js"></script>
    <script src="~/AppFrontend/bower_components/jquery/jquery.form.js"></script>
    <script src="~/AppFrontend/bower_components/zui/js/zui.js"></script>
    <script src="~/AppFrontend/angel-js/angel.js"></script>
    <script src="~/AppFrontend/angel-js/angel.confirmation.js"></script>
    <script src="~/AppFrontend/angel-js/angel.prompt.js"></script>
</head>
<body>
<h1>
    <img style="height: 160px; width: auto" src="~/AppFrontend/images/logo_login_201903071223b.png"/>
</h1>
<div class="contact">
    @RenderBody()
</div>
<div class="copyright">
    <p>
        版权所有 Amber.Wei 源代码:<a href="https://github.com/weishangxue/AmberMeet" target="_blank">https://github.com/weishangxue/AmberMeet</a>
    </p>
</div>
</body>
</html>